<h1>Editing novel</h1>

<% form_for(@novel) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :writer %><br />
    <%= f.text_field :writer %>
  </p>
  <%= f.label :tags  %>
 <div id="tags">
    <%=render :partial=>'tag',:collection=>@novel.tags%>
 </div>
  <p>
    <%=add_tag_link 'add a tag'%>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @novel %> 