<h1>New novel</h1>

<% form_for(@novel,:html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :writer %><br />
    <%= f.text_field :writer %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f. collection_select :category_id,Category.all,:id,:name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.file_field :url %>
  </p>
  <div id="tags">
    <%=render :partial=>'tag',:collection=>@novel.tags%>
  </div>
  <%= f.label :tags,'tags' %>
  <p>
    <%=add_tag_link 'add a tag'%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', novels_path %>