<h1>New chapter</h1>

<% form_for(@chapter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
 <p>
 	<%= f.label :content %>
	<%= f.text_area :content,:size=>"30x40" %>
 </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
